.task-card {
  padding: 1rem .5rem;
  background: var(--white);
  border-radius: .5rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  color: var(--dark-gray);

  display: flex;
  justify-content: space-between;
}

.card-title {
  margin-bottom: .5rem;
}

.card-status{
  display: inline;
  padding: .25rem;
  border-radius: .5rem;
  font-size: .75rem;
  font-weight: 700;
}

.card-pending {
  background: var(--light-red);
  color: var(--red);
}

.card-in-progress {
  background: var(--light-yellow);
  color: var(--yellow);
}

.card-testing {
  background: var(--light-blue);
  color: var(--blue);
}

.card-done {
  background: var(--light-green);
  color: var(--green);
}