.header-container {
  background: var(--dark-gray);
  padding: 1.25rem;
}

.header-title h2 {
  color: var(--white);
  text-transform: uppercase;
  font-style: italic;
}

.header-content{
  display: flex;
  align-items: center;
  justify-content: space-around;
}